<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="profile-headings">
      <% if @user.avatar %>
        <div class="profile-avatar">
          <div class="avatar avatar-large" style="background-image: url(<%= @user.avatar %>);">
            <% if @user.type == "StreetArtist" %>
              <div class="street-artist-badge">A</div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="profile-titles">
        <h3><%= @user.alias %></h3>
        <% if @user.type == "StreetArtist" %>
          <h4>Street Artist</h4>
        <% else %>
          <h4>Art Enthusiast</h4>
        <% end %>
      </div>
      <% if @user.info %>
        <p class="info"><%= @user.info %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="profile-tabs">
      <ul class="nav nav-tabs tabs" role="tablist">
        <li role="presentation" class="active tab hearted-tab">
          <a href="#hearted-art" aria-controls="hearted-art" role="tab" data-toggle="tab">
            <h2><%= @user.votes.up.votables.size %></h2>
            <p>Hearted Art</p>
          </a>
        </li>
        <% if policy(@user).street_artist? %>
        <li role="presentation" class="tab street-art-tab">
          <a href="#my-street-art" aria-controls="my-street-art" role="tab" data-toggle="tab">
            <h2>23</h2>
            <p>My Street Art</p>
          </a>
        </li>
        <% end %>
        <li role="presentation" class="tab">
          <a href="#uploaded-art" aria-controls="uploaded-art uploaded-tab" role="tab" data-toggle="tab">
            <h2>23</h2>
            <p>Uploaded Art</p>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="hearted-art">
          <!-- Tab 3: Hearted Art -->
          <p>placeholder hearted art card</p>
          <p>placeholder hearted art card</p>
        </div>
        <% if policy(@user).street_artist? %>
          <div role="tabpanel" class="tab-pane" id="my-street-art">
            <!-- Tab 2: My Street Art (if street artist) -->
            <%= render '/shared/cards_my_street_art' %>
          </div>
        <% end %>
          <div role="tabpanel" class="tab-pane" id="uploaded-art">
          <!-- Tab 4: Uploaded Art -->
            <%= render '/shared/cards_uploaded_art' %>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>



