<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="profile-headings">
      <% if @user.avatar? %>
        <div class="profile-avatar">
          <div class="avatar avatar-large" style="background-image: url(<%= @user.avatar %>);">
            <% if @user.type == "StreetArtist" %>
              <div class="street-artist-badge">A</div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="profile-avatar">
          <div class="avatar avatar-large no-avatar" style="background-image: url('//res.cloudinary.com/trembylene/image/upload/v1525074875/kmixjiw4vmgqwt0hnpsj.png');">
            <% if @user.type == "StreetArtist" %>
              <div class="street-artist-badge">A</div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="profile-titles">
        <h3><%= @user.alias %></h3>
        <% if @user.type == "StreetArtist" %>
          <h4>Street Artist</h4>
        <% else %>
          <h4>Art Enthusiast</h4>
        <% end %>
      </div>
      <% if @user.info %>
        <% if (@user.info.split(" ")).count > 6 %>
          <p class="info"><%= @user.info %></p>
        <% else %>
          <p class="info" id="centered-mobile"><%= @user.info %></p>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="profile-tabs">
      <ul class="nav nav-tabs tabs flex-container" role="tablist">
        <li role="presentation" class="active tab hearted-tab">
          <a href="#hearted-art" aria-controls="hearted-art" role="tab" data-toggle="tab">
            <h2><%= @user.votes.up.votables.size %></h2>
            <p>Hearted Art</p>
          </a>
        </li>
        <% if @user.street_artist? %>
        <li role="presentation" class="tab street-art-tab">
          <a href="#my-street-art" aria-controls="my-street-art" role="tab" data-toggle="tab">
            <h2> <%= @my_arts.count %> </h2>
            <p>My Street Art</p>
          </a>
        </li>
        <% end %>
        <li role="presentation" class="tab uploaded-tab">
          <a href="#uploaded-art" aria-controls="uploaded-art uploaded-tab" role="tab" data-toggle="tab">
            <h2><%= @uploaded_arts.count %></h2>
            <p>Uploaded Art</p>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="hearted-art">
          <!-- Tab 3: Hearted Art -->
          <div class="index-cards">
            <div class="container">
              <div class="row">
                <% @hearted_arts.each do |art| %>
                  <%= render '/shared/cards', art: art %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% if @user.street_artist? %>
          <div role="tabpanel" class="tab-pane" id="my-street-art">
            <!-- Tab 2: My Street Art (if street artist) -->
            <div class="index-cards">
              <div class="container">
                <div class="row">
                  <% @my_arts.each do |art| %>
                    <%= render '/shared/cards', art: art %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
          <div role="tabpanel" class="tab-pane" id="uploaded-art">
          <!-- Tab 4: Uploaded Art -->
            <div class="index-cards">
              <div class="container">
                <div class="row">
                  <% @uploaded_arts.each do |art| %>
                    <%= render '/shared/cards', art: art %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



