<div class="col-xs-12 col-sm-6">
  <div class="card" id="<%= art.id %>">
    <div class="card-header">
      <h2 class="card-title"><%= truncate(art.title, length: 40) %></h2>
    </div>
    <div class="card-body">
      <%= card_photo(art.photo) %>
    </div>
    <div class="card-footer">
      <div class="avatars">
        <div>
          <%= image_tag("//res.cloudinary.com/trembylene/image/upload/v1524809420/kuzbuvs5nu74mrfszbet.svg", class: "custom_icon-large") %>
          <%= art.get_likes.size %>
          </div>
          <% if art.artist %>
            <% if art.artist.avatar? %>
              <%= user_avatar(art.artist.avatar) %>
            <% else %>
              <div class="avatar avatar-card-artist no-avatar" style="background-image: url('//res.cloudinary.com/trembylene/image/upload/v1525074875/kmixjiw4vmgqwt0hnpsj.png');">
              </div>
            <% end %>
          <% else %>
            <div class="avatar avatar-card-artist no-artist" style="background-image: url('//res.cloudinary.com/trembylene/image/upload/v1525075406/rah5d3yzvx7jbkzakhrv.jpg')">
            </div>
          <% end %>
      </div>
      <p class="card-description"><%= truncate(art.location, length: 75) %></p>
      <div class="read-more">
        <%= link_to "Read More", art_path(art) %>
      </div>
    </div>
    <%= link_to "", art_path(art), class: "card-link"  %>
  </div>
</div>
