<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
      <%= f.input :email, required: false, autofocus: true, placeholder: 'Email', label: false %>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2"><i class="fa fa-key" aria-hidden="true"></i></span>
      <%= f.input :password, required: true, placeholder: 'Password', label: false, class: "form-control" %>
    </div>
    <%= f.input :remember_me, inline_label: 'Yes, remember me', as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn btn-success submit-button" %>
  </div>
<% end %>
