<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-container">
        <h2 class="page-title">Hearted Art</h2>
        <div class="index-cards">
          <div class="container">
            <div class="row">
              <% @arts.each do |art| %>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                  <div class="card">
                    <div class="card-header">
                      <h2 class="card-title"><%= art.title %></h2>
                    </div>
                    <div class="card-body">
                      <div class="card-photo" style="background-image: url(<%= art.photo %>);">
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="avatars">
                        <div class="avatar avatar-card-artist" style="background-image: url(<%= art.user.avatar %>);"></div>
                        <div>
                          <%= image_tag("http://res.cloudinary.com/trembylene/image/upload/v1524809420/kuzbuvs5nu74mrfszbet.svg", class: "custom_icon-large") %>
                          <%= art.get_likes.size %>
                        </div>
                      </div>
                      <p class="card-description">First five words of description...</p>
                      <div class="read-more">
                        <%= link_to "Read More", art_path(art) %>
                      </div>
                    </div>
                    <%= link_to "", art_path(art), class: "card-link"  %>
                  </div>
                </div>
              <% end %>
            </div>

            <% if @arts.length > 0 %>
              <div
              id="map_search"
              data-markers="<%= @markers.to_json %>"
            ></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
