<div class="search-bar">
  <div class="search-results">
    <% if @arts.blank? %>
      <h2>No matches for <%= params[:search] %>.</h2>
    <% else %>
      <h2>Search Results (<%= @arts.count %>)</h2>
    <% end %>
  </div>
  <div class="search-filters">
    <ul class="list-inline">
      <li><%= link_to "Most Popular" %></li>
      <li><%= link_to "Recently Added" %></li>
      <li><%= form_tag(search_arts_path, :method => "get", id: "search") do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Filter by keyword" %>
        </div></li>
      <li><%= button_tag(type: "submit", class: "btn btn-default navbar-btn") do %>
        <i class="fa fa-search"></i>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
        <%= render "card_deck" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render "map" %>
    </div>
  </div>
</div>


