<div class="text-center"></div>
<div class="banner" style="background-image: url('<%= @art.photo %>');">
  <div class="banner-content">
    <h1><%= @art.title %></h1>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="art-body">
        <div class="art-body-show">
          <ul class="list-inline">
            <li><h3><%= @art.title %></h3></li>
            <li>
              <% if @art.user == current_user %>
                <small class="title-icons">
                  <%= link_to "", edit_art_path(@art), :class => "fa fa-pencil fa-lg" %>
                  <%= link_to "", art_path(@art),
                    :class => "fa fa-trash-o fa-lg",
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
                </small>
              <% end %>
            </li>
            <li><%= render "like" %></li>
          </ul>
          <div class="avatar-large avatar-profile" style="background-image: url(<%= @art.user.avatar %>);">
            <%= link_to "", user_path(@art.user), class: "card-link"  %>
          </div>
        </div>
        <div>
          <% if current_user && policy(@art).claim? %>
            <p>Did you create this street art? Claim it here!</p>
            <%= link_to "Claim Art", claim_art_path(@art), class: 'btn btn-success', method: :put %>
          <% end %>

          <h4><%= @art.description %></h4>
          <br>
          <h4><em>Details</em></h4>
          <p><strong>Location:</strong> <%= @art.location %></p>
          <p><strong>Artist:</strong> <%= @art.artist_id %></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Map / Location -->
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        style="width: 100%; height: 350px;>
      </div>
    </div>
  </div>
</div>
