<div class="text-center"></div>
<div class="banner" style="background-image: url('<%= @art.photo %>');">
  <div class="banner-content">
    <h1><%= @art.title %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="art-body">
        <div class="art-body-show">
          <ul class="list-inline">
            <li><h5><%= @art.title %></h5></li>
            <li>
              <% if @art.user == current_user %>
                <small class="title-icons">
                  <%= link_to "", edit_art_path(@art), :class => "fa fa-pencil fa-lg" %>
                  <%= link_to "", art_path(@art),
                    :class => "fa fa-trash-o fa-lg",
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
                </small>
              <% end %>
            </li>
            <li><%= render "like" %></li>
          </ul>
          <% if @art.artist %>
            <div class="avatar-large avatar-profile" style="background-image: url(<%= @art.artist.avatar %>);">
              <%= link_to "", user_path(@art.artist), class: "card-link"  %>
            </div>
          <% else %>
            <div class="avatar-large avatar-profile" style="background-image: url('http://res.cloudinary.com/trembylene/image/upload/v1525077075/cvo0htpam8nqz4jf6if0.png')">
            </div>
          <% end %>
        </div>
        <div>
          <% if policy(@art).claim? %>
            <p>Did you create this street art? Claim it here!</p>
            <% if current_user %>
              <%= link_to "Claim Art", claim_art_path(@art), class: 'btn btn-success', method: :put %>
            <% else %>
              <%= link_to t(".sign_in", default: "Claim Art"), "#", class: 'btn btn-success', data: {toggle: "modal", target: "#login-modal"} %>
            <% end %>
          <% end %>

          <h4><%= @art.description %></h4>
          <br>
          <h4><em>Details</em></h4>
          <p><strong>Location:</strong> <%= link_to @art.location, "https://www.google.com/maps/search/?api=1&query=#{@art.location}", target: :_blank, class: "link" %></p>
          <p><strong>Artist:</strong>
            <% if @art.artist %>
              <%= link_to "#{@artist.alias}", user_path(@artist), class: "link" %>
            <% else %>
              -
            <% end %>
          </p>
          <p><strong>Uploaded by:</strong> <%= link_to "#{@user.alias}", user_path(@user), class: "link" %></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Map / Location -->
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        style="width: 100%; height: 350px;">
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="tags" style="width: 100%; height: 350px;">
        <% @tags.each do |tag| %>
          <%= link_to "##{tag}", {:controller => "arts", action: "index", :search => tag }, class: "btn btn-danger", id: "tag" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
